.sormat-select2 {
    width: 250px;
}

.item_cost {
    display: none;
    padding: 1.5em 1em 1em;
}

.item_cost.custom-cost {
    display: table-cell;
}

.order-status.status-expired,
.order-status.status-expired-operator {
    background: #f8dda7;
    color: #94660c;
}

.order-status.status-client-cancel {
    background: #eba3a3;
    color: #761919;
}

.order-status.status-directed {
    background: #f8dda7;
    color: #94660c;
}

.order-status.status-shipped,
.order-status.status-client-approved {
    background-color: #c6e1c6;
    color: #4d7314;
}