.no-print,
#upper-shadow {
  display: none;
}
.print {
  display: block;
}
.product-image-link:before, .wp-caption a:before {
    display: none;
}
.logo-holder.print {
  width: 100%;
  max-width: 960px;
  height: 70px;
  margin: 0 auto 20px;
}
.logo-holder.print img {
  margin-top: 17px;
}
.print-date {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}
.main-content-holder {
    margin-left: 0;
    margin-right: 0;
  margin-bottom: 20px;
}
h1 {
    font-size: 28px;
    margin-bottom: 28px;
}
h2 {
    font-size: 24px;
    margin-bottom: 24px;
}
h3 {
    font-size: 18px;
}
h4 {
    font-size: 14px;
}
h5 {
    font-size: 13px;
}
.single-texts p, .news-texts p, .knowledge-base-article-texts p, .training-article-texts p {
    letter-spacing: 0;
    line-height: 1.5em;
    margin-bottom: 18px;
    font-size: 14px;
}
#breadcrumb {
  display: none;
}
#product .row .two-columns,
.page-template-product-page .row .two-columns {
  margin-left: 0;
}
#product .row .right,
.page-template-product-page .row .right {
  float: left;
}
.edit-link {
  display: none;
}
/*Table prints styles*/
.performance-data table thead, .products-table-holder #products-table thead {
  border: 1px solid #003462;
  border-left: 0;
  border-right: 0;
}
span.sort-icon {
  display: none !important;
}

/*
  Print styles for single product

  Testing pages:
  http://en.sormat.dev/products/BLS-P1220080015/
  http://en.sormat.dev/products/through-bolt/
*/

.page-template-product-page #floating-back-to-top {
  display: none;
}

.page-template-product-page {
  box-sizing: border-box;
}

.page-template-product-page *,
.page-template-product-page *:before,
.page-template-product-page *:after {
  box-sizing: border-box;
}

.page-template-product-page {
  min-height: auto;
}

.general-product-info .product-image-link {
  width: auto;
  height: 100px;
  line-height: 0;
  margin-bottom: 16px;
}

.page-template-product-page .main-content-holder {
  max-width: 100%;
  width: 100%;
}

.general-product-info .thumbnail-wrapper {
  display: none;
}

.page-template-product-page .general-product-info .one-column {
  max-width: 100%;
  width: 100% !important;
}

.page-template-product-page h2 {
  margin-bottom: 16px;
}

.page-template-product-page .one-column,
.page-template-product-page .two-columns {
  max-width: 100%;
  width: 50% !important;
  float: left;
  margin: 0 !important;
}

.page-template-product-page .one-column.approval {
  clear: both;
  width: 100% !important;
  margin-top: 16px !important;
}

.page-template-product-page .two-columns.product-overview {
  clear: none;
}

.page-template-product-page .table,
.page-template-product-page .product-image-link {
  width: 100%;
}

.page-template-product-page .base-materials,
.page-template-product-page .general-product-info .technical-features,
.page-template-product-page .product-overview,
.page-template-product-page .technical-data .one-column:nth-of-type(2) {
  padding-left: 20px;
}

.page-template-product-page ul {
  list-style-type: disc; /* explictly defined as initial does not work in IE11 */
  margin-left: 20px;
}

.page-template-product-page ul li {
  background-image: none;
  padding-left: 0;
}

.page-template-product-page ul.sales-description,
.page-template-product-page .row.installation,
.page-template-product-page .row.products-table-holder {
  margin-bottom: 0;
}

.page-template-product-page .row.specific-product-info {
  margin-bottom: 16px;
}

.page-template-product-page .approval-holder img{
  max-width: 110px;
}

.page-template-product-page #products-table tr td:first-of-type,
.page-template-product-page #products-table thead tr th:first-of-type,
.page-template-product-page #products-table tr td:last-of-type,
.page-template-product-page #products-table thead tr th:last-of-type,
.page-template-product-page .row.additional-information,
.page-template-product-page .row.related-products,
.product-download-pdf-button {
  display: none;
}

.page-template-product-page #products-table tbody td {
  white-space: nowrap;
}

.page-template-product-page #products-table thead tr th,
.page-template #performance-data-table th {
  font-size: 10px;
}

.page-template-product-page #product .row.installation,
.page-template-product-page #product .row.installation h2,
.page-template-product-page #product .row.installation .blue-ruler {
  margin-left: 0;
}

.page-template-product-page .row.installation .installation-holder {
    margin-left: 0 !important;
    margin-right: 30px;
}

.page-template-product-page #product .row.installation .blue-ruler {
  width: 100%;
}

.print-date {
  width: 100%;
  margin: 0;
}

body {
  padding-bottom: 0 !important;
  height: auto !important;
}


/* PDF print view*/

.pdf-view .show-on-pdf-view {
  display: inline;
}

.pdf-view .performance-data {
  page-break-before: always;
}

/*.pdf-view .performance-data tr {
  page-break-inside: avoid;
}*/

.pdf-view .performance-data table,
.pdf-view .performance-data tr,
.pdf-view .performance-data td,
.pdf-view .performance-data th,
.pdf-view .performance-data tbody,
.pdf-view .performance-data thead,
.pdf-view .performance-data tfoot {
  page-break-inside: avoid !important;
}

.pdf-view #product h2 {
  font-family: "MuseoSans-500";
}

.pdf-view .print-date,
.pdf-view .general-product-info .product-image {
  display: none;
}

.pdf-view .product-image-link {
  overflow: visible;
}

.pdf-view .technical-picture .product-image-link {
  width: auto;
}

.pdf-view .page-template-product-page #product .row.installation img {
  display: inline-block;
  float: none;
  margin-left: 0;
  margin-right: 30px;
}

.pdf-view #product .one-column.approval .approval-holder {
    width: 50%;
    display: inline-block;
    float: left;
}

.pdf-view .technical-picture .product-image-link,
.pdf-view .installation .product-image-link {
  display: none;
}

/*
.pdf-view #product.main-content-holder {
  max-width: 100%;
}
*/
