input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

#company .two-columns {
    max-width: 920px;
}

.wc-order-items-editable .wc-order-totals {
    float: right;
    width: 50%;
    margin: 0;
    padding: 0;
    text-align: center;
}

.wc-order-totals .total {
    width: 108px;
    text-align: left;
}

.woocommerce button.button.alt,
button[type="submit"] {
    background: #e4772a;
    padding: 10px 10px;
    color: #ffffff;
    border: none;
}

.woocommerce a.button-cancel {
    background-color: #dfdcde;
    color: #515151;
}

.woocommerce a.button-success {
    background-color: #c6e1c6;
    color: #4d7314;
}

.woocommerce-account .woocommerce-MyAccount-content {
    width: 70%;
}

.sormat-add-to-card form {
    display: flex;
}

.sormat-add-to-card .woocommerce .quantity .qty {
    width: 70px;
    margin-top: 0;
}

.sormat-add-to-card .quantity {
    display: flex;
    border: 1px solid #000;
    margin-right: 10px;
    border-radius: 3px;
    color: #000;
}

.sormat-add-to-card .woocommerce .quantit input {
    color: #000;
}

input {
    margin: 0;
}

.button-price {
    display: block;
    margin: 15px 0;
    background: #e4772a;
    color: #ffffff;
    max-width: 298px;
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
}

.button-price:hover {
    color: #fff;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.75);
    transition: box-shadow 0.3s ease-in-out;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    max-width: 450px; /* Could be more or less, depending on screen size */
    width: 100%;
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.cities-list {
    display: flex;
    flex-wrap: wrap;
}

.cities-list li {
    width: 50%;
    box-sizing: border-box;
    padding: 10px;
}

.cities-list a {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
}

#changeUserCity {
    text-transform: uppercase;
}

#price-info-holder {
    background-color: #fff;
}

#priceModalInfo .modal-content {
    max-width: 650px;
}

#priceModalInfo .modal-content p {
    font-size: 18px;
    line-height: 24px;
}

.woocommerce form .form-row input.input-text, .woocommerce form .form-row textarea {
    border: 1px solid #aaa;
    border-radius: 4px;
    color: #666666;
    padding: 5px 6px;
}

.popup-form-wrapper input {
    border: 1px solid black;
    padding: 8px;
    color: black;
}